h4 {
    font-style: italic;
    background-color: brown;
    color:white;
}

.Main {
    background-color: black;
    color : white ;
}
/****************************************************************************************************************
<link rel="stylesheet" href="./include/style.css">


type :  
id : #
class : .

사용용도
id : 큰 틀
class : id 내부 채움

CSS 속성의 우선순위
인라인 방식 > id 서너택자 > class 선택자 > type 선택자
******************************************************************************************************************/
